*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.mainLeft{
    width: 50%;
    height: 90.8vh;
}
.mainRight{
    width: 50%;
    height: 90.8vh;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cadastroContainer{
    height: 30%;
    width: 50%;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.432) 5px 5px;
}
.formContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inputUser{
    width: 80%;
}