*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    height: 60px;
    background-image: linear-gradient(rgb(0, 89, 255), rgb(0, 191, 255));
    display: flex;
    flex-direction: row;
    align-items: center;
}